/*Ecrans de plus de 1024px*/
@media screen and (min-width: 1024px){
  #carousel {
    background: url("webagency_images/webagency_images/images/slider/bg1.jpg") no-repeat center;
    height: 555px;
  }
  #intro {
    width: 40%;
  }
}
/*Ecrans de moins de 1024px*/
@media screen and (max-width: 1024px){
  #carousel {
    background-color: grey;
  }
}
#carousel {
  width: 100%;
  font-family: 'Roboto-Bold';
}
#intro {
  height: 100%;
  padding: 10%;
  color: white;
}
#intro span {
  color: #5CADD3;  /*bleu clair*/
}
button, #button{
  border-radius: 4px;
  background-color: #5cadd3;
  color: white;
  padding: 7px;
  font-size: 15px;
  text-decoration: none;
  margin-left: 6px;
  border-bottom: 3px solid rgb(33,112,131);
}
.fa-chevron-left, .fa-chevron-right {
  height: 40px;
  width: 40px;
  font-size: 2em;
  color: white;
  position: relative;
}
.fa-chevron-right {
  left: 95%;
  top: 50%;
}
