@font-face {
    font-family: 'Roboto';
    src: url('webagency_images/webagency_images/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('webagency_images/webagency_images/fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('webagency_images/webagency_images/fonts/Roboto-Bold.ttf');
}


h1 {
  font-family: 'Roboto-Bold';
}
h2 {
  font-family: 'Roboto-Medium';
  font-size: 2em;
  color: black;
}
h3 {
  margin: 0;
}



body {
  font-family: 'Roboto';
  color: #404040;
  margin: 0;
}






.textContent {
  width: 100%;
  height: 200px;
  padding-top: 70px; /*changer en pourcentages*/
  text-align: center;
}

/* Section Services */
#two{
  display: flex;
  width: 100%;
}
#feature {
  width: 50%;
  height: 100%;
}


#list {
  width: 50%;
  height: 100%;
  padding-right: 25px;

}
.listElts {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
}
.fa-circle {
  font-size: 1em;
}
.icons {
  width: 80px;
  text-align: center;
  font-size: 2em;
  color: #5CADD3;  /*bleu clair*/
}
#list p {
  margin-top: 7px;
}
@media screen and (max-width: 1024px){
  #feature {
    display: none;
  }
  #list {
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  #list {
    text-align: center;
  }
  .listElts {
    flex-direction: column;
  }
}

.pics {
  width: 200px;
  height: 40px;
}
.pics img {
  width: 100%;
}
.wrap {
  height: 133px;
  display: flex;
  justify-content: space-around;
  margin-top: 33px;
}

/* Section Portfolio */
#portfolio {
  background-color: #F5F5F5;
  padding-bottom: 35px;
}










/* Section Contact */
iframe {
  position: relative;
  	margin: auto;

}
#form {
  position: relative;
  bottom: 500px;;
  left: 60%;
  width: 30%;
  background-color: white;
  padding: 25px;

}
#form input, textarea {
  width: 100%;
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}
