@font-face {
    font-family: 'Roboto';
    src: url('webagency_images/webagency_images/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('webagency_images/webagency_images/fonts/Roboto-Medium.ttf');
}

body {
  font-family: 'Roboto';
  color: #404040;
  height: 2000px; /*a enlever*/
  margin: 0;
}

header {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 6px;

  /*sticky header*/
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
#logo {
  margin-top: 10px;
}

h1 {
  font-family: 'Roboto-Medium';
}
#one {
  width: 100%;
  height: 200px;
  padding-top: 70px; /*changer en pourcentages*/
  text-align: center;
}
#two{
  display: flex;
  width: 100%;
  /* border: 1px blue dotted; */
}
#feature {
  width: 50%;
  height: 100%;
  border: 1px orange dotted;
}
#list {
  width: 50%;
  height: 100%;
  border: 1px green dotted;
  padding-right: 7%;
}
.list {
  width: 100%;
  height: 90px;
  border: 1px red solid;
  margin-top: 12px;
  margin-bottom: 12px;
}
