@font-face {
    font-family: 'Roboto';
    src: url('webagency_images/webagency_images/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('webagency_images/webagency_images/fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('webagency_images/webagency_images/fonts/Roboto-Bold.ttf');
}

body {
  font-family: 'Roboto';
  color: #404040;
  margin: 0;
}
h1 {
  font-family: 'Roboto-Bold';
}
h2 {
  font-family: 'Roboto-Medium';
  font-size: 2em;
  color: black;
  margin-bottom: 0px;
}
/* les lignes décoratives en dessous des titres */
.decoration {
  color: #888C8F;
  margin-top: 0px;
}
.fa-circle {
  color: #3491B2;
}

h3 {
  margin: 0;
}
.textContent {
  width: 100%;
  height: 200px;
  padding-top: 70px; /*changer en pourcentages*/
  text-align: center;
}

/* Section Services */
#two{
  display: flex;
  width: 100%;
}
#feature {
  width: 50%;
  height: 100%;
}
#list {
  width: 50%;
  height: 100%;
  padding-right: 25px;
}
.listElts {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
}
.icons {
  width: 80px;
  text-align: center;
  font-size: 2em;
  color: #5CADD3;  /*bleu clair*/
}
#list p {
  margin-top: 7px;
}
/* Ecrans jusqu'a 1024px */
@media screen and (max-width: 1024px){
  #feature {
    display: none;
  }
  #list {
    width: 100%;
  }
}
/* Petits ecrans */
@media screen and (max-width: 600px){
  #list {
    text-align: center;
  }
  .listElts {
    flex-direction: column;
  }
  .icons {
    width: 100%;
  }
}

/* #portfolio section */
#portfolio {
  background-color: #F5F5F5;
}
.wrap {
  height: auto;
}
/* div contenannt les pics*/
.pics {
  width: 225px;
  height: 225px;;
}
.pics img {
  width: 100%;
}

/* petites resolutions */
@media screen and (max-width: 600px){
  /* Centre les blocs et les aligne dans une seule colonne*/
  .pics {
    display: block;
    margin: auto;
  }
}
/* ecrans de plus de 600px */
@media screen and (min-width: 600px){
  /* les blocs sont disposés en colonnes et s'étalent sur la largeur */
  .wrap {
    display: flex;
    justify-content: space-around;
  }
}

/* #contact section */
iframe {
  width: 100%;
  height: 625px;
  position: absolute;
  right: 0;
  top: : 0;
}
#filtre {
  width: 100%;
  height: 625px;
  position: absolute;
  right: 0;
  top: : 0;
  background-color: #5CADD3;
  opacity: 0.2;
}
#formBackground {
  width: 350px;
  height: 525px;
  background-color: white;
  position: absolute;
  right: 0;
  top: : 0;
  margin-right: 10%;
  margin-top: 5%;
  z-index: 1;
  opacity: 0.8;
}
#formContact input, textarea {
  width: 100%;
  display: inline-block;
  padding: 5px;
  margin: 8px;
  box-sizing: border-box;
}
/* ecrans de moins de 1024px */
@media screen and (max-width: 1024px){
  iframe {
    display: none;
  }
  #formContact {
    margin: auto;
    width: 70%;
  }
}
/* ecrans de plus de 1024px */
@media screen and (min-width: 1024px){
  #formContact {
    width: 300px;
    padding: 25px;
    position: absolute;
    right: 0;
    top: : 0;
    margin-right: 10%;
    margin-top: 5%;
    z-index: 2;
  }
}
